html,body {
  overflow-x: hidden;
  margin: 0px;
  width: 100%;
  color: #000;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  overflow: hidden;
}
/* intro/ landing page style */
.landing-page {
  background-color: #ffddce;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav a{
  padding: 10px;
  font-size: 1.5rem;
  color: #333;
}

.cart-btn button {
  margin-top: 20px;
  width: 10vw;
  border: none;
  border-radius: 40px;
  background-color: #ff7a00;
  text-align: left;
  outline: none;
}
.cart-btn button img {
  padding: 10px;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
table th {
  padding: 20px 50px;
}
form {
  width: 80%;
}
.form-modal {
  text-align: center;
}
input {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 50px;
  background-color: #ffe9d6;
}
.error-msg {
  color: red;
  font-size: .9rem;
  text-align: center;
}
/* price display */
.total-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.total-price  .btn {
  position: relative;
}
.btn button {
 padding: 10px 20px;
 border: none;
 margin:  0;
 border-radius: 4px;
}
.btn1 {
  background-color: #ffe9d6;
  width: 12vw;
  position: absolute;
  left: -4.5rem;
  right:0;
  top: 1rem;
}
.btn2 {
  background-color: #ff7a00;
  width: 12vw;
  position: absolute;
  left: 7.5rem;
  right:0;
  top: 1rem;
}
.intro {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.w-75{
  width: 57%;
}
.w-25{
  width: 25%;
}
.px-3{
  padding-left: 20px;
  padding-right: 20px;
}
 .intro-flex h2 {
  color: #ff7a00;
  font-size: 5rem;  
  line-height: 1.5em;
} 
.intro-flex div{
  position: relative;
  right: 18%;
}
.intro-btn button {
  width: 20vw;
  font-size: 1.2rem;
  padding: 20px 5px;
  background-color: #ff7a00;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}
.intro-btn button a {
  color: #fff;
}
/* about style */
.about p {
  margin:0px;
  background-color: #000;
  text-align: center;
  padding: 4rem 1.2rem;
  font-size: 2.5rem;
  color: #fff;
  line-height: 1.1;
}

/* modal style */
.modal-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 12.5rem;
  left: 0;
  right: 0;
  z-index: 12;
  background-color: rgba(0,0,0,0.6);
  display: none;  
}
.modal {
  background-color: #fff;
  width: 45%;
  box-shadow: 5px 3px 3px;
  position: relative;
  top: 50px;
  z-index: 10;
  margin: 1rem auto;
  padding-bottom: 2.5rem;

  -webkit-animation-name: modal; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: modal;
  animation-duration: 0.5s;
  
}
.showModal {
  display: block;
}
@-webkit-keyframes modal {
    0%   {transform:scale(0.3)} 
    100% {transform:scale(1)}
}

/* Standard syntax */
@keyframes modal {
    0%   {transform:scale(0.3)} 
    100% {transform:scale(1)}
}


/* shop style */
 .shop {
   text-align: center;
 }
 .shop h1 {
   padding-top: 1rem;
   font-size: 5rem;
   text-transform: uppercase;
 }
 .products {
   grid-template-rows: auto;
   cursor: pointer;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   margin: 2rem;
 }
 
 .products h2 {  
   font-size: 2rem;
   text-transform: uppercase;
 }
 .products button {
   text-transform: uppercase;
   background-color: #ff7a00;
   border: none;
   width: 15vw;
   padding: 9px 18px;
   border-radius: 4px;
   font-weight: bold;
   margin: 20px 0;
 }
 /* .product {
   position: relative;
 } */
 .cart-button{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

 }
.cart-item{
  color:white;
  font-size: 3em;
  font-weight: bold;
}
 .image {
  width: 100%;  
  height: 400px;
 }
.price {  
  position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0,0,0,0.6);
   opacity: 0;
   border-radius: 6px;
   transition: all 0.5s ease-in-out 0s;
 }
 .price h4 {
   text-align: center;
   color: #fff;
   font-size: 5rem;
  position: absolute;
  top: 40%;
  left: 24%;
 }
 .img{
  position: relative;
 }
 .img:hover .price{
   opacity: 1;
 }

 /* footer style */
 .footer {
   background-color: #000;
   display:flex;
   color: #fff;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
 }
 .footer img {
   margin-left: 6rem;
 }
 .footer p {
   margin-right: 15rem;
 }
 /* media query for tablet view*/
 @media (max-width: 1024px) {
   .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav a{
  padding: 10px;
  font-size: 1.5rem;
  color: #333;
}

.cart-btn button {
  margin-top: 20px;
  width: 15vw;
  border: none;
  border-radius: 40px;
  background-color: #ff7a00;
  text-align: left;
  outline: none;
}
.cart-btn button img {
  padding: 10px;
}
   .price h4 {
   text-align: center;
   color: #fff;
   font-size: 3rem;
  position: absolute;
  top: 40%;
  left: 22%;
 }

.total-price  .btn {
  position: relative;
} 
.form-modal {
  text-align: center;
}
input {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 50px;
  background-color: #ffe9d6;
}
.error-msg {
  color: red;
  font-size: 1.5rem;
  text-align: center;
}
.btn button {
 padding: 10px 20px;
 border: none;
 margin:  0;
 font-size: 1.5rem;
 font-weight: 700;
 border-radius: 4px;
}
.btn1 {
  background-color: #ffe9d6;
  width: 30vw;
  position: absolute;
  left: -6.5rem;
  right:0;
  top: 1rem;
}
.btn2 {
  background-color: #ff7a00;
  width: 18vw;
  position: absolute;
  left: 13.5rem;
  right:0;
  top: 1rem;
}
 }
 /* media query at 768px */
 @media (max-width:768px) {
  .nav a{
  padding: 10px;
  font-size: 1.2rem;
  color: #333;
}

.cart-btn button {
  margin-top: 10px;
  width: 20vw;
  border: none;
  border-radius: 38px;
  background-color: #ff7a00;
  text-align: left;
}
.cart-btn button img {
  padding: 10px 10px 5px 10px;
}
/* modal style */

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
table th {
  padding: 2rem;
  font-size: 1rem;
}
form {
  width: 80%;
}
.form-modal {
  text-align: center;
}
input {
  width: 100%;
  padding: .5rem;
  margin: .5rem 3rem;
  background-color: #ffe9d6;
}
.error-msg {
  color: red;
  font-size: .9rem;
  text-align: center;
}
/* price display */
.total-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .8rem 0;
}
.total-price  .btn {
  position: relative;
}
.btn button {
 padding: 10px 20px;
 border: none;
 margin:  0;
 border-radius: 4px;
}
.btn1 {
  background-color: #ffe9d6;
  width: 25vw;
  position: absolute;
  left: -6.5rem;
  right: 0;
  top: 1rem;
}
.btn2 {
  background-color: #ff7a00;
  width: 22vw;
  position: absolute;
  left: 4.5rem;
  right:0;
  top: 1rem;
}
.float-left{
  float: left;
}

.float-left{
  float: left;
}
.d-flex{
  display: flex;
}
.flex-between{
  justify-content: space-between;
}
.flex-center{
  flex-wrap: wrap;
  align-items: center;
}
.intro-flex, div.intro-flex{
  
/*  display: flex;
  justify-content: space-between;
  align-items: center;*/
}

 .intro-flex h2 {
  color: #ff7a00;
  font-size: 3.8rem;
} 

.intro-btn button {
  width: 25vw;
  font-size: 1.2rem;
  padding: 20px 5px;
  color: #fff;
  background-color: #ff7a00;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* about style */
.about p {
  background-color: #000;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.6;
}
.shop h1 {
   font-size: 3rem;
   text-transform: uppercase;
   padding-top: 1rem;
 }
 .products {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin: 2rem;
 }
 .products button {
   text-transform: uppercase;
   background-color: #ff7a00;
   border: none;
   width: 25vw;
   padding: 10px 18px;
   border-radius: 4px;
   font-weight: bold;
   margin: 15px 0;
 }
 /* price hover effect */
  .price h4 {
   text-align: center;
   color: #fff;
   font-size: 3rem;
   position: absolute;
   top: 40%;
   left: 24%;
 }
 .footer img {
   margin-left: 6rem;
 }
 .footer p {
   margin-right: 6rem;
 }
 }
 /* media query for mobile phones */
 @media (max-width: 500px) {
   .container {
     width: 100%;
   }
   .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
   .logo {
     display: none;
   }
    .nav a{
  padding: 10px;
  font-size: 1rem;
  color: #333;
}
.cart-btn button {
  margin-top: 10px;
  width: 20vw;
  border: none;
  border-radius: 38px;
  background-color: #ff7a00;
  text-align: left;
}
.cart-btn button img {
  width: 10vw;
}
 .intro-flex h2 {
  color: #ff7a00;
  font-size: 1rem;
} 


.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
table th {
  padding: .9rem;
  font-size: .9rem;
}
form {
  width: 80%;
}
.form-modal {
  text-align: center;
}
input {
  width: 100%;
  padding: .4rem;
  margin: .5rem 3rem;
  background-color: #ffe9d6;
}
.error-msg {
  color: red;
  font-size: .7rem;
  text-align: center;
}
/* price display */
.total-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .8rem 0;
}
.total-price  .btn {
  position: relative;
}
.btn button {
 padding: 10px 20px;
 border: none;
 margin:  0;
 border-radius: 4px;
}
.btn1 {
  background-color: #ffe9d6;
  width: 45vw;
  position: absolute;
  left: -6.5rem;
  right: 0;
  top: 1rem;
}
.btn2 {
  background-color: #ff7a00;
  width: 22vw;
  position: absolute;
  left: 4.5rem;
  right:0;
  top: 1rem;
}
.intro-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .intro-flex h2 {
  color: #ff7a00;
  font-size: 3.8rem;
} 
/*.intro-flex img {
  width: 45vw;
}*/
.intro-btn button {
  width: 25vw;
  font-size: 1.2rem;
  padding: 20px 5px;
  color: #fff;
  background-color: #ff7a00;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}
 /*  */
.intro {
  /* text-align: center; */
  display: flex;
}
.intro-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.intro-flex h2 {
  color: #ff7a00;
  font-size: 3rem;
  padding: 0;
  text-align: center;
} 
.intro-btn button {
  width: 100%;
  font-size: 1.2rem;
  padding: 20px;
  color: #fff;
  background-color: #ff7a00;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}/* about style */
.about p {
  background-color: #000;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
}
.shop h1 {
   font-size: 1.5rem;
   text-transform: uppercase;
   padding-top: 1rem;
 }
 .products {
   display: grid;
   grid-template-columns: 1fr;
   margin: 2rem;
 }
 .products button {
   text-transform: uppercase;
   background-color: #ff7a00;
   border: none;
   width: 50%;
   padding: 10px 18px;
   border-radius: 4px;
   font-weight: bold;
   margin: 15px 0;
 }
 /* price hover effect */
  .price h4 {
   text-align: center;
   color: #fff;
   font-size: 4rem;
   position: absolute;
   top: 40%;
   left: 22%;
 }
 .footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
 }
 .footer img {
  margin: 0;
  text-align: center;
 }
 .footer p {
   margin: 0;
   padding-top: 10px;
  font-size: .7rem;
  text-align: center;
 }
 }

@media  screen and (max-width: 498px) {
  .modal {
    width: 90% !important; 
  }
    .intro-flex h2{      
      font-size: 3em;
    }
    .intro-flex img{
      width: 300px;
      

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 499px) {
  .intro{    
    margin-top: 9px;
    padding: 5px 40px;
  }
  .intro-flex h2{   
  font-size: 3.5em;    
    text-align: center;
    margin: 7px auto;      
    }
    .intro-flex{
      display: block;
      width: 100%;
      margin: 5px auto;
    }
    .intro-flex img{
      margin: 5px auto;
      display: block;
      width: 400px;
    }
  .modal {
    width: 95%; 
  }
 }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
   .intro-flex h2{   
    text-align: left;
    width: 300px;
    font-size: 4.5em;
   }
    .intro-flex img{
      width: 45%;
    }
  .intro-flex{
      display: flex;
      justify-content: space-between;      
  }
   .modal {
    width: 55%; 
  }
 }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  }
.table{
  width: 86%;
  margin: 4px auto;
}
table.table thead{  
  text-align: left;
}
.timesbtn{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:pink;  
  color:black;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.timesbtn:active{
  box-shadow: inset #444 1px 2px 7px;
}